/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------- End of Reset ------------------- */
body {
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 50rem;
  height: 29rem;
  display: flex;
}

.card {
  background-color: white;
  width: 40%;
}

.card-sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}

.card-suvs {
  background-color: hsl(184, 100%, 22%);
}

.card-luxury {
  border-radius: 0 10px 10px 0;
  background-color: hsl(179, 100%, 13%);
}

.flex-card-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 30px;
}

.flex-card-content > img {
  width: 65px;
}

.flex-card-content > h2 {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 700;
}

.flex-card-content > p {
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 0.8;
}

.learn-more-btn {
  background-color: white;
  width: 6rem;
  padding: 1rem;
  text-decoration: none;
  border-radius: 30px;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2.5rem;
}

.hoverables:hover {
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  transition: 0.3s;
}

.sedan-btn {
  color: hsl(31, 77%, 52%);
}

.sedan-btn:hover {
  background-color: hsl(31, 77%, 52%);
}

.suvs-btn {
  color: hsl(184, 100%, 22%);
}

.suvs-btn:hover {
  background-color: hsl(184, 100%, 22%);
}

.luxury-btn {
  color: hsl(179, 100%, 13%);
}

.luxury-btn:hover {
  background-color: hsl(179, 100%, 13%);
}

@media (width <= 715px) {
  body {
    background-color: hsl(0, 0%, 95%);
  }

  .flex-container {
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    min-width: 20rem;
  }

  .card-sedans {
    border-radius: 10px 10px 0 0;
  }

  .card-luxury {
    border-radius: 0 0 10px 10px;
  }
}
